<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BankCode" value="100"/>
    <add key="FtpTimeIntPathLoc"  value="ftp://192.168.81.56/mtbfile"/>
    <add key="FtpDayEndPathLoc"  value="ftp://192.168.81.56/mtbfile"/>
    <add key="LocalTimeIntPathLoc"  value="D:\GPUploadFiles\"/>
    <add key="LocalDayEndPathLoc"  value="D:\GPUploadFiles\"/>
    <add key="Interval"  value="1"/>
    <add key="CustomerCode"  value="1234567890"/>
    <add key ="ConnectionString" value="Initial Catalog=MTBBillCollection;Data Source=MTBAPPDEV;User Id=mtbdatawriter;Password=mtb123"/>
    <add key="ErrorLogFilePathLoc" value="D:\GPUploadFiles\ErrorLog.txt"/>
    <add key ="StartTime" value="10"/>
    <add key ="EndTime" value="18"/>
    <add key ="SvcStartTime" value=""/>
    <add key ="UserName" value="ftpuser"/>
    <add key="Password" value="pas123"/>
    <add key="HistoricalInfo" value="D:\GPUploadFiles\HistoricalInfo.XML"/>
    <add key ="CollectionStatus" value="4"/>
  </appSettings>
</configuration>