<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>    
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" />
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304" /><add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></assemblies></compilation>
	<httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" /></httpHandlers></system.web>
	<appSettings>
    <!--192.168.81.53-->
    <add key="CollDBConnectionString" value="z5jLxpdyopfDhZYkmUF/dmyVkELIzzZ4wdRd4EyC8eVe8r2l7EG7dvU9Fezz0brqGXnsHr7MNiF8euMu/rI1R6STE/7i4ZsKhB+UjMUaUagAC0NuAmwG2PdcS1wuFJhqOw7qaD3iJ8n0gKAfy+12Tugl2FyXDTgV24YyY1nOs3daN9bL6Q5nKUOxNPWDmRKzkoOhPC7LfZGpAdpJbTdEvw8Sax6fx3wghxJdAWQTgSbcu3ubWluGq318aqCP5xnfT07kCRdbiz6y/oIdiV862g==" />

    <!--192.168.67.34-->
    <!--<add key="CollDBConnectionString" value="z5jLxpdyopfDhZYkmUF/dmyVkELIzzZ4wdRd4EyC8eVe8r2l7EG7dvU9Fezz0brqGXnsHr7MNiF8euMu/rI1R6STE/7i4ZsKhB+UjMUaUagAC0NuAmwG2PdcS1wuFJhqOw7qaD3iJ8nNfyQLs6BGr2aRvaWYnfCpaA8ntu1TdzGmPfLWNujYfEeq4sr6GCDMpMU/H57F4na6iJJSdOs24aT7a85hNbiOOkMxArFrlPBzL8yYxH5BitrpjPcVjUJKWQGxj1ODJM3YwXO2Om9rTA==" />-->
    
    
    <add key="CrystalImageCleaner-AutoStart" value="true" />
     <add key="CrystalImageCleaner-Sleep" value="60000" />
     <add key="CrystalImageCleaner-Age" value="120000" />
 </appSettings>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	<handlers><add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" /></handlers><validation validateIntegratedModeConfiguration="false" />
        <directoryBrowse enabled="true" /></system.webServer>
</configuration>