<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MtbBillCollectionLibrary.Properties.Settings.MTBBillCollectionConnectionString"
            connectionString="Data Source=MTBAPPDEV;Initial Catalog=MTBBillCollection;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>