/*
#container{
  margin:0 auto;
  padding:0;
  text-align:center; 
  width:907px;
}
*/

#container_head_left{
  text-align:left;
  margin:12px 0px 15px 18px;
  float:left;
}

#container_head_right{
  margin:5px 10px 0px 0px;
  text-align:right;
  float:right;
}


#container_left{
  text-align:left;
  width:551px;
  height:310px;
  float:left;
  background-color:#eadfca;
}

#container_right{
  width:249px;
  height:310px;
  float:left;
  text-align:center;
  background-color:#a4cc44;
}


#line_shade_bottom{
	margin-top:10px; 
	height:18px; 
	background:url(../images/roundbox/line_shade.gif) left top repeat-x;
	}

#line_shade_bottom2{
	margin-top:10px; 
	height:12px; 
	background:url(../images/roundbox/line_shade.gif) left top repeat-x;
	}

/*
#column_01{
	float: left; 
	margin-left: 5px; 
	width: 236px
	}
	
#column_02{
	float: left; 
	margin-left: 5px; 
	width: 310px;
	}

#column_03{
	margin-left: 0px; 
	width: 220px
	}

#column_04{
	margin-left: 0px; 
	width: 790px
	}
	
#column_04_2{		
	width:720px; 
	height:100px; 
	margin-top:15px; 
	margin-left:10px;
	}
*/

#column_02{
	float: left; 
	margin-left: 5px; 
	width: auto;
	}



/* member search link */


/* =================== frame =================== */
#curve_head{
background:url(../images/roundbox/curve_right_top.gif) top right no-repeat;
text-align:left;
margin-top:0px;
}

#curve_head2{
background:url(../images/roundbox/curve_left_top.gif) top left no-repeat;
text-align:left;
}

#curve_head p{
padding:10px;
margin:0px;
text-align:left;
}

#curve_bottom{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve_right_bottom.gif) bottom right no-repeat;
margin-bottom:0px;
}

#curve_bottom2{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve_left_bottom.gif) bottom left no-repeat;
}

.curve_body{
background:url(../images/roundbox/curve_right_middle.gif) top right repeat-y;
}

.curve_body2{
background:url(../images/roundbox/curve_left_middle.gif) top left repeat-y;
}


/* =================== frame2 =================== */
#curve2_head{
background:url(../images/roundbox/curve2_right_top.gif) top right no-repeat;
text-align:left;
margin-top:0px;
}

#curve2_head2{
background:url(../images/roundbox/curve2_left_top.gif) top left no-repeat;
text-align:left;
}

#curve2_head p{
padding:10px;
margin:0px;
text-align:left;
}

#curve2_bottom{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve2_right_bottom.gif) bottom right no-repeat;
margin-bottom:0px;
}

#curve2_bottom2{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve2_left_bottom.gif) bottom left no-repeat;
}

.curve2_body{
background:url(../images/roundbox/curve2_right_middle.gif) top right repeat-y;
}

.curve2_body2{
background:url(../images/roundbox/curve2_left_middle.gif) top left repeat-y;
}



/* =================== frame3 =================== */
#curve3_head{
background:url(../images/roundbox/curve3_right_top.gif) top right no-repeat;
text-align:left;
margin-top:0px;
}

#curve3_head2{
background:url(../images/roundbox/curve3_left_top.gif) top left no-repeat;
text-align:left;
}

#curve3_head p{
padding:10px;
margin:0px;
text-align:left;
}

#curve3_bottom{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve3_right_bottom.gif) bottom right no-repeat;
margin-bottom:0px;
}

#curve3_bottom2{
font-size:1px;
height:11px;
background:url(../images/roundbox/curve3_left_bottom.gif) bottom left no-repeat;
}

.curve3_body{
background:url(../images/roundbox/curve3_left_middle.gif) top left no-repeat;
}

.curve3_body2{
background:url(../images/roundbox/curve3_right_middle.gif) top right no-repeat;
}


/* Partner List and TRUSTe Explanation */

#PartnerList {text-align:left;
}

#TRUSTeText {text-align:left;
}





.column_text{
	margin:10px 5px;
}

.column_field{
	padding:10px;
}

.modalBackground {
position: absolute;
z-index: 100;
top: 0px;
left: 0px;
background-color: Gray;
filter: alpha(opacity=60);
-moz-opacity: 0.6;
opacity: 0.6
      } 

.modalPopup 
{
background-color:#ffffff;
border-width:3px;
border-style:solid;
border-color:Gray;
padding:3px;
width:250px;
}

fieldset
{
    width:855px;
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.SearchCriteria label, fieldset.ResultBox label, fieldset.PopUp label
{
    /*display: block; */
    width:850px;
    margin: 5px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

